.Button{
    display: flex;
    padding: 16px 24px 16px 24px;
  color: #fff;
  font-size: .8em;
  border: 1px solid #808080;
  background-color: transparent;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;

  &:hover {
    color: black;
    cursor: pointer;
    border: 1px solid #fac564;
 background-color: #fac564;
}

}